body{
    font-family: MiSansVF_Demibold,system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1{
    text-align: center;
}

#result 
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 36px;
    text-align: center;
    z-index: -100;
    position: absolute;
}

input{
    margin-bottom: 30px;
}