body{
    font-family: MiSansVF,system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1{
    text-align: center;
}

#result 
{
    color: #fff;
    font-size: 36px;
}

#uploaded-image{
    max-height: 30vw;
    height: auto;
}

#image-container{
    display: none;
}

input{
    margin-bottom: 30px;
}

canvas{
    display: none;
}

.imgbox{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}